docs/labs/*
src/gen

.idea
*.bkp
*.dtmp

cli/token

__pycache__
build*
compile_commands.json
.cache/
.ccache/
.idea/
.vscode/
!.vscode/c_cpp_properties.json
!.vscode/cmake-variants.yaml
!.vscode/README.md
.cores/
.pgdata/
cmake-build-*
Testing/
.DS_Store
Makefile.local
